<div class="card" id="<%= dom_id room %>">
  <div class="card-body d-flex justify-content-between">
    <%= link_to room.name, room_password_room_path(room) %>
    建立日期：<%= room.created_at.to_time.strftime('%F') %>
  </div>
</div>