<%= form_with(url: check_password_rooms_path) do |form| %>
  <form class="row g-3">
    <div class="col-auto">
      <label for="form-label">房間密碼</label>
      <%= form.text_field :password, class: "form-control" %>
      <%= form.hidden_field :id, value: @room.id %>
    </div>
    <div class="col-auto text-right mt-2">
      <button type="submit" class="btn btn-primary mb-3">送出</button>
    </div>
  </form>
<% end %>